section{
    background-color:bisque ;
    color:red;
}
img{
    width : 10cm;
    height : 10cm;
}
.header-1{
    color: brown;
}
.ball{
    background-color: rgb(165, 102, 39);
    height:50px;
    width:50px;
    border-radius:50%;
}
#bouncing{
    position:absolute;
}
.body{
    margin: 0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}